{% extends '../app/templates/index.html' %}

{% block content %}
{% if get_flashed_messages() %}
    {% for message in get_flashed_messages() %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
<div class="container mt-4">
<h1 class="text-center mb-4">Добавление автора</h1>
    <form action="/add_author" method="post" class="mt-3">
        <div class="mb-3">
            <label for="name" class="form-label">Имя автора:</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Введите имя автора" required>
        </div>
        <button type="submit" class="btn btn-primary">Добавить автора</button>
    </form>
    <a href="/authors" class="btn btn-secondary mt-3">Назад</a>
</div>
{% endblock %}
