{% extends 'index.html' %}


{% block content %}
<div class="container mt-5">
    <div class="list-item-container alert alert-secondary" role="alert">
        <div class="text-center mb-4">
            <form action="/show_authors" method="get" class="mb-3">
                <button type="submit" class="btn btn-secondary">Показать авторов</button>
            </form>

            <form action="/add_author" method="get" class="mb-3">
                <button type="submit" class="btn btn-secondary">Добавить автора</button>
            </form>

            <form action="/delete_author" method="get" class="mb-3">
                <button type="submit" class="btn btn-secondary">Удалить автора</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
