<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Библиотека</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-5.3.3-dist/css/bootstrap.min.css') }}">
        <style>
            .list-item-container {
                max-width: 600px; /* Максимальная ширина списка */
                margin: auto; /* Автоматический отступ для центрирования */
            }
    </style>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <div class="navbar-nav mr-auto">
                    <a href="/" class="nav-link">Главная</a>
                </div>
                <div class="navbar-nav ml-auto">
                    <a href="/exit" class="nav-link">Выход</a>
                </div>
            </div>
        </nav>
    </header>

    {% block content %}
        <div class="container">  <!-- для центрирования  -->
            <h1 class="text-center">Добро пожаловать в Книжную Библиотеку</h1> <!-- Выравнивает текст по центру -->
            <div class="d-flex justify-content-around mt-4">
                <a href="/books" class="btn btn-secondary">Посмотреть книги</a> <!-- серый -->
                <a href="/authors" class="btn btn-secondary">Просмотреть авторов</a>
            </div>
        </div>
    {% endblock %}
</body>

</html>