{% extends 'index.html' %}

{% block content %}
<div class="container mt-4">
    <h1 class="text-center mb-4">Список книг</h1>
        <div class="list-item-container text-center mb-4">
            {% if books %}
                <ul class="list-group">
                    {% for book in books %}
                        <li class="list-group-item">
                            <a href="{{ url_for('f_show_book', book_id=book.id) }}"
                               class="text-decoration-none" style="color: black;">
                                {{ book.name }} - {{ book.author.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p class="alert alert-warning" role="alert">Книги не найдены.</p>
            {% endif %}
            <a href="/books" class="btn btn-secondary mt-3">Назад</a>
        </div>

</div>
{% endblock %}
